@font-face {
 font-family: DISXV;
 font-style: normal;
 font-weight: 100 900;
 font-display: swap;
 src:
  url('./DISXV.woff2') format('woff2-variations'),
  url('./DISXV.woff2') format('woff2'),
  url('./DISXV.woff') format('woff-variations'),
  url('./DISXV.woff') format('woff');
}
@font-face {
 font-family: DISX;
 font-display: swap;
 font-style: normal;
 font-weight: 300;
 src: url('./DISX-Regular.woff') format('woff');
}
@font-face {
 font-family: DISX;
 font-display: swap;
 font-style: normal;
 font-weight: 700;
 src: url('./DISX-Bold.woff') format('woff');
}
