.panel-heading {
 border: 1px solid #ddd;
 border-radius: 8px;
 padding: 8px 15px;
 height: 45px;
 background-color: rgb(240, 240, 240);
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
}
.panel-body {
 border: 1px solid #ddd;
 border-radius: 8px;
 padding: 8px 15px;
 border-top: none;
 border-top-right-radius: 0;
 border-top-left-radius: 0;
}
.tabmain-all-content {
 border: 1px solid #ddd;
 border-radius: 8px;
 /* padding: 8px 15px; */
 border-top: none;
 /* border-top-right-radius: 0;
    border-top-left-radius: 0; */
 padding-bottom: 10px;
}

.table:not(.table-bordered) td:first-child {
 padding-right: 10px !important;
}
.nav-tabs {
 border: 1px solid #ddd;
 border-radius: 8px;
 padding: 8px 15px;
 height: 45px;
 background-color: rgb(240, 240, 240);
}
