.appointments-content-wrapper {
 width: 850px;
 background-color: #fff;
 border-radius: 10px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.appointments-content-wrapper .calendar-svg {
 position: absolute;
 top: 14px;
 right: 130px;
}
.bell-red-badge {
 width: 8px;
 height: 8px;
 background-color: red;
 border-radius: 50%;
 position: absolute;
}
@media screen and (min-width: 557px) {
 .datepicker-container {
  position: absolute !important;
  top: 217px !important;
 }
}
@media screen and (max-width: 768px) {
 .top-appointment {
  display: flex !important;
  justify-content: space-between !important;
 }
 .breadcrumb-item {
  font-size: 15px !important;
 }
}
@media screen and (max-width: 500px) {
 .top-appointment {
  display: flex !important;
  justify-content: space-between !important;
 }
 .breadcrumb-item {
  font-size: 15px !important;
 }
 .top-appointment .mx-4 {
  margin-left: 0 !important;
  margin-right: 10px !important;
 }
}
@media screen and (max-width: 425px) {
 .top-appointment {
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  gap: 10px !important;
 }
 .selectDate_datepicker__xkZeS {
  width: 100% !important;
 }
 .notif-option {
  display: flex !important;
  justify-content: end !important;
  width: 100% !important;
  margin-top: 15px;
 }
 .breadcrumb-item {
  font-size: 15px !important;
 }
 .top-appointment .mx-4 {
  margin-left: 0 !important;
  margin-right: 10px !important;
 }
}
