// drstyles
main {
 .morafi-content-div {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
 }

 .title {
  margin-top: 50px !important;
 }

 padding-bottom: 100px !important;

 .btn-primary-600 {
  background-color: #047ad8;
  color: #fff;
 }

 .btn-success-400 {
  background-color: #1aab49;
  color: #fff;
 }

 .text-primary-600 {
  color: #047ad8;
  font-size: 18px;
 }

 .text-success-400 {
  color: #1aab49;
 }

 .collaps-bottom {
  transform: rotate(180deg);
 }

 // max-height: 734vh !important;
 // max-height: 670vh !important;
 .my-text {
  color: #505050;
  font-weight: 400;
  text-align: justify;
 }

 .left-top-similar-nurse {
  :hover {
   cursor: pointer;
  }
 }

 .plus-minues {
  color: rgb(0, 103, 205);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(229, 242, 255);
  border-radius: 51px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  font-size: 17px;
 }

 .rounded-star {
  background-color: #eceff1;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

  span {
   font-family: 'IranSans';
   font-size: 12px;
   color: #555555;
  }
 }

 .dr-content-all {
  .left-right-wrapper-dr {
   display: flex;
   gap: 20px;
   min-height: 405vh;
   // min-height: 465vh;
   // max-height: 670vh;
   // max-height: 450vh;

   .right-dr {
    width: 70%;
    background-color: #fff;
    border-radius: 12px;
    // min-height: 418vh;

    //

    .collaps-bottom {
     transform: rotate(180deg);
    }

    .nurse-nazarat {
     border-top: 1px solid#ddd;

     .show-more-comment {
      :hover {
       cursor: pointer;
       color: #0067cd;
       transition: 1s ease-in;
      }
     }

     background-color: #fff;
     min-height: 40vh;
     border-bottom-left-radius: 12px;
     border-bottom-right-radius: 12px;

     .rating-component {
      span {
       font-family: 'IranSans';
       color: #505050;
       font-size: 15px;
       font-weight: 400;
      }
     }

     .cards-nazarat-content {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .card-nazar {
       width: 100%;
       border: 1px solid #ddd;
       min-height: 120px;
       border-radius: 12px;

       .text-comment-style {
        color: #505050;
        font-weight: 600;
        font-size: 14px;
       }

       .rounded-star {
        background-color: #eceff1;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
       }

       .star-text {
        font-family: 'IranSans';
        font-weight: 400;
        font-size: 14px;
        color: #505050;
       }
      }
     }
    }

    .my-list {
     color: #707070;

     li {
      font-family: 'IranSans' !important;
      font-size: 13px;
      font-weight: 400;
      line-height: 2rem;
     }
    }

    .top-right-content-dr {
     min-height: 40vh;

     .top-right-card-dr {
      padding: 25px;

      img {
       width: 130px;
       border-radius: 50%;
      }

      .s-takasos-span {
       color: #707070;
       font-weight: 500;
      }

      .share {
       :hover {
        cursor: pointer;
       }
      }

      .view-count-dr {
       span {
        font-family: 'IranSans';
        color: #555555;
        font-weight: 400;
        font-size: 12px;
       }
      }
     }
    }

    .my-text {
     color: #505050;
     font-weight: 400;
     text-align: justify;
    }

    .bg-gray {
     background-color: #eceff1;
     font-family: 'IranSans';
     font-size: 12px;
    }

    .btnContent {
     :hover {
      cursor: pointer;
     }
    }

    .locdiv-and-comment-star {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-align-items: flex-start;
     -webkit-box-align: flex-start;
     -ms-flex-align: flex-start;
     align-items: flex-start;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     width: 100%;
     gap: 4px;

     .location-div {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;

      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      gap: 4px;
     }

     .divider {
      width: 0;
      height: 20px;
      border-right: 1px solid #c4ced4;
     }

     .comment-and-star {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;

      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      gap: 4px;
     }
    }

    .border-bottom-primary {
     border-bottom: 5px solid #0067cd;
    }

    .div-bottom-menu-wrapper {
     width: 90%;
    }

    .comment-and-star,
    .location-div {
     span {
      font-family: 'IranSans';
      font-size: 13px;
      color: #707070;
      font-weight: 400;
     }
    }

    .morafi-content-div {
     border-top: 1px solid #ddd;
     background-color: #fff;
     border-radius: 12px;
     width: 100%;
     min-height: 55vh;
     //  margin-top: 5px !important;
    }

    .etelate-tamas-morefi {
     border-top: 1px solid#ddd;

     background-color: #fff;
     // min-height: 30vh;
     margin-top: 47px !important;

     width: 100%;

     .my-address-n {
      line-height: 2.9rem;

      span {
       color: #505050;
       font-weight: 550;
      }
     }
    }
   }

   .left-dr {
    width: 30%;

    .nobat-visit-hozory {
     background-color: #fff;
     border-radius: 12px;
     min-height: 22vh;
    }

    .nothing-nobat {
     height: 17vh;

     span {
      font-size: 14px;
      font-weight: 500;
     }
    }

    .text-success-400 {
     color: #1aab49;
    }

    .btn-success-400 {
     background-color: #1aab49;
     color: #fff;
    }

    .price-rounded {
     width: 55px;

     background-color: #e3effd;
     border-radius: 50px;
     padding: 3px 10px;
     color: #4589d1;
     font-family: 'IranSans';
     font-size: 12px;
    }

    .text-primary-600 {
     color: #047ad8;
     font-size: 18px;
    }

    .btn-primary-600 {
     background-color: #047ad8;
     color: #fff;
    }

    .single-container {
     span {
      color: #555555;
      font-size: 13px;
      font-weight: 400;
     }
    }

    .first-empty-div {
     span {
      color: #555555;
      font-size: 14px;
      font-weight: 400;
     }
    }

    .time-and-day {
     span {
      color: #555555;
      font-size: 12px;
      font-weight: 500;
      font-family: 'IranSans';
     }
    }
   }
  }

  .similar-nurse {
   // border-top: 1px solid #ddd;

   border: 1px solid #ddd;

   background-color: #fff;
   // height: 30vh;
   border-radius: 12px;
   margin-top: 10px !important;
   width: calc(100%);

   .cards-similar-nurse {
    padding: 5px;
    // width: 100%;
    margin-top: 30px;
    display: grid;
    gap: 10px;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    flex-wrap: nowrap;
    flex-direction: row;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);

    .card-similar-nurse {
     width: 200px;
     height: 200px;
     background-color: #fff;
     border-radius: 12px;
     border: 1px solid #ddd;

     .top-card-similar-img {
      .name {
       span {
        font-size: 13px;
       }
      }

      .takhasos-z,
      .address {
       span {
        color: #555555;
        font-weight: 400;
        font-size: 12px;
       }
      }

      display: flex;
      justify-content: center;

      img {
       width: 40px;
       border-radius: 50%;
      }
     }
    }
   }
  }

  .question-nurse {
   .question-cards {
    display: flex;
    flex-wrap: wrap;

    gap: 15px;

    .question-card {
     :hover {
      cursor: pointer;
     }

     padding: 0 10px;
     border: 2px solid #e0edf9;
     border-radius: 12px;
     background-color: #fff;
     width: 100%;
     height: 130px;
     display: flex;
     align-items: center;

     .answer-style {
      padding-right: 26px;
      margin-top: 15px;

      span {
       color: #505050;
       font-weight: 400;
      }
     }
    }
   }
  }

  .takhasos-city-ostan {
   width: 100%;
   min-height: 25vh;
   background-color: #fff;
   border-radius: 12px;

   .takhasos-cards {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    .takhasos-card {
     :hover {
      cursor: pointer;
     }

     width: 100%;
     border: 1px solid #ddd;
     border-radius: 12px;
     min-height: 80px;

     .city-takhasos {
      a {
       text-decoration: none;
       font-weight: 400;
       font-size: 14px;
      }

      span {
       color: #1579dc;
      }

      .city-takhasos-content-all {
       margin-top: 20px;

       .expanded {
        display: grid;
        -webkit-transition: max-height 0.3s ease-in;
        transition: max-height 0.3s ease-in;

        padding: 0 16px 0;
        grid-template-columns: repeat(4, auto);

        color: #0067cd;
       }
      }

      .ostan-takhasos-content-all {
       margin-top: 20px;

       .expanded {
        display: grid;
        -webkit-transition: max-height 0.3s ease-in;
        transition: max-height 0.3s ease-in;

        padding: 0 16px 0;
        grid-template-columns: repeat(4, auto);

        color: #0067cd;
       }
      }
     }
    }
   }
  }
 }
}

@media screen and (max-width: 1400px) {
 .top-header-container {
  max-width: 1330px !important;
 }

 main {
  .container {
   max-width: 1330px !important;
  }
 }
}

@media screen and (max-width: 1223px) {
 main {
  .left-right-wrapper-dr {
   display: flex !important;
   gap: 10px !important;

   .left-dr {
    width: 30%;

    .card-nobat {
     width: 400px;
    }
   }

   .right-dr {
    width: 75% !important;
   }

   .btn-and-tags-moarefi-content {
    width: 100%;
   }
  }
 }
}

@media screen and (max-width: 1098px) {
 main {
  .left-right-wrapper-dr {
   display: flex !important;
   gap: 10px !important;

   .left-dr {
    width: 30%;

    .card-nobat {
     width: 380px;
    }
   }

   .right-dr {
    width: 65% !important;
   }
  }
 }
}

@media screen and (max-width: 1060px) {
 main {
  .morefi-wrapper {
   min-height: 65vh !important;

   .address-description {
    font-size: 14px !important;
   }
  }

  .left-right-wrapper-dr {
   display: flex !important;
   gap: 10px !important;

   .left-dr {
    width: 30%;

    .card-nobat {
     width: 380px;
    }
   }

   .right-dr {
    width: 65% !important;
   }
  }
 }
}

@media screen and (min-width: 992px) {
 .left-dr-991 {
  display: none !important;
 }
}

@media screen and (max-width: 992px) {
 main {
  .recive-nobat-992 {
   display: flex !important;
  }

  .city-takhasos {
   a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
   }

   span {
    color: #1579dc;
   }

   .city-takhasos-content-all {
    margin-top: 20px;

    .expanded {
     display: grid;
     -webkit-transition: max-height 0.3s ease-in;
     transition: max-height 0.3s ease-in;

     padding: 0 16px 0;
     grid-template-columns: repeat(2, 1fr) !important;

     color: #0067cd;
    }
   }

   .ostan-takhasos-content-all {
    margin-top: 20px;

    .expanded {
     display: grid !important;
     -webkit-transition: max-height 0.3s ease-in;
     transition: max-height 0.3s ease-in;

     padding: 0 16px 0;
     grid-template-columns: repeat(2, auto) !important;

     color: #0067cd;
    }
   }
  }

  .morefi-wrapper {
   min-height: 125vh;
  }

  .left-right-wrapper-dr {
   // .morefi-991 {
   //     border-top: 1px solid #ddd;
   // }

   display: flex !important;
   gap: 15px !important;
   flex-wrap: wrap !important;
   flex-direction: column-reverse;

   .left-dr-991 {
    display: grid;
    flex-direction: column !important;
    gap: 15px !important;
    flex-wrap: wrap !important;
    grid-template-columns: repeat(1, 1fr);

    .card-nobat {
     span {
      color: #505050 !important;
      font-size: 15px;
      font-weight: 400;
     }
    }

    .card-nobat {
     border: 1px solid #ddd;
     border-radius: 12px;
     width: 100% !important;
     // height: 400px !important;
    }
   }

   .left-dr {
    display: none;

    top: 500px;
    width: 100% !important;

    .card-nobat {
     width: 100% !important;
    }
   }

   .right-dr {
    width: 100% !important;

    .nobat-dehi {
     display: flex !important;
    }

    // .etelate-tamas-morefi{
    //     min-height: 50vh !important;
    // }
   }
  }
 }
}

@media screen and (max-width: 646px) {
 .top-expertise-breadcrumb {
  width: 100% !important;

  .bread-crumb-expertise {
   overflow-x: scroll !important;
   overflow-y: hidden !important;

   .list-inline {
    width: 100% !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    text-wrap: nowrap;
   }
  }
 }

 .right-dr {
  padding: 0px !important;
  // min-height: 180vh !important;
 }

 .top-right-card-dr {
  padding: 10px !important;
 }

 .top-right-content-dr {
  .pic-dr {
   img {
    width: 100px !important;
   }
  }

  .center-card-loc-and-comment-star {
   width: 95% !important;
  }
 }
}

@media screen and (max-width: 632px) {
 .btn-and-tags-moarefi-content {
  width: 100% !important;
 }

 main {
  .city-takhasos {
   a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
   }

   span {
    color: #1579dc;
   }

   .city-takhasos-content-all {
    margin-top: 20px;

    .expanded {
     display: grid !important;
     -webkit-transition: max-height 0.3s ease-in;
     transition: max-height 0.3s ease-in;

     padding: 0 16px 0;
     grid-template-columns: repeat(1, auto) !important;

     color: #0067cd;
    }
   }

   .ostan-takhasos-content-all {
    margin-top: 20px;

    .expanded {
     display: grid !important;
     -webkit-transition: max-height 0.3s ease-in;
     transition: max-height 0.3s ease-in;

     padding: 0 16px 0;
     grid-template-columns: repeat(1, auto) !important;

     color: #0067cd;
    }
   }
  }
 }
}

@media screen and (max-width: 604px) {
 main {
  .right-dr {
   // min-height: 120vh !important;
  }

  .address-description {
   width: 50%;
  }

  .div-bottom-menu-wrapper {
   display: flex !important;
   justify-content: space-between !important;

   .moarefi {
    width: 50% !important;
   }
  }
 }
}

@media screen and (max-width: 449px) {
 main {
  .morafi-content-div {
   padding: 2px !important;
  }
 }
}

@media screen and (max-width: 425px) {
 main {
  .morafi-content-div {
   padding: 5px !important;
  }

  .left-dr-991 {
   .nobat-visit-hozory {
    padding: 5px 10px !important;
   }
  }

  .takhasos-city-ostan {
   padding: 5px !important;

   .takhasos-card {
    padding: 30px 10px !important;
   }
  }

  .etelate-tamas,
  .nazarat,
  .moarefi {
   span {
    font-size: 14px;
   }
  }

  .city-takhasos {
   span {
    font-size: 13px;
   }
  }

  .faq-question {
   font-size: 13px;
  }

  .question-card {
   .faq-answer {
    span {
     font-size: 12px;
    }
   }
  }
 }
}

@media screen and (max-width: 402px) {
 main {
  .address-description {
   width: 50%;
  }

  .pic-clinic {
   img {
    width: 50px !important;
   }
  }

  .div-bottom-menu-wrapper {
   display: flex !important;
   justify-content: space-between !important;

   .moarefi {
    width: 50% !important;
   }
  }
 }
}

@media screen and (max-width: 398px) {
 main {
  .morafi-content-div {
   padding: 2px !important;
  }

  .left-dr-991 {
   .right-card-l-c-c-w-c {
    width: 60% !important;
   }
  }
 }
}

@media screen and (max-width: 371px) {
 main {
  .morafi-content-div {
   padding: 2px !important;
  }

  .left-dr-991 {
   .nobat-visit-hozory {
    padding: 3px !important;
   }

   .right-card-l-c-c-w-c {
    width: 60% !important;

    span {
     font-size: 14px !important;
    }

    img {
     width: 40px !important;
    }
   }
  }

  .center-card-dr-name {
   span {
    font-size: 16px !important;
   }
  }
 }
}

@media screen and (max-width: 343px) {
 header {
  .search-top-expertise-header {
   form {
    input {
     width: 70% !important;
    }
   }
  }
 }

 main {
  .etelate-tamas,
  .moarefi,
  .nazarat {
   span {
    font-size: 12px !important;
   }
  }
 }
}

// drstyles

main {
 .radio {
  width: 1.8rem;
  height: 1.8rem;
  border: 0.2rem solid rgb(169, 169, 169);
  border-radius: 100px;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out 0s;
 }

 .my-map-modal {
  .modal-header {
   box-shadow:
    rgba(0, 0, 0, 0.16) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.16) 0px 1px 8px 0px;
   padding: 20px;
   margin-bottom: 0px;
   font-size: 16px;
   font-weight: 500;
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   z-index: 1111;
   color: rgb(0, 26, 52);
   background-color: rgba(255, 255, 255, 0.75);
  }
  iframe {
   width: 100%;
   height: 400px;
  }
 }

 .dr-content-all {
  .left-right-wrapper-dr {
   min-height: 60vh !important;

   .right-dr {
    // min-height: 120vh !important;

    .map-btn {
     background: url('./../../../public/images/map.svg');
    }
   }

   .left-dr,
   .left-dr-991 {
    .nobat-visit-hozory {
     min-height: 200px !important;
    }

    .card-nobat {
     min-height: 200px !important;
    }

    min-height: 20vh !important;

    .inner {
     border: 1px solid #ddd;
     border-radius: 8px;
    }

    .left-content-clininic-wrapper-content {
     .cards-l-c-c-w-c {
      .card-l-c-c-w-c {
       span {
        color: #3b3b3b;
        font-weight: 600;
       }

       .r-l-l-c-c-w-c {
        .right-card-l-c-c-w-c {
         width: 70%;

         img {
          width: 50px;
          border-radius: 50%;
          border: 1px solid blue;
         }

         display: flex;
        }

        .left-card-l-c-c-w-c {
        }
       }
      }
     }
    }
   }
  }
 }

 .top-right-content-dr {
  min-height: 35vh !important;
 }

 .morafi-content-div {
  min-height: 5vh !important;
 }

 .etelate-tamas-morefi {
  border-top: 0 !important;
 }
}

@media screen and (max-width: 1296px) {
 main {
  .right-dr {
   width: 65% !important;
  }

  .left-dr {
   width: 35% !important;
  }
 }
}

@media screen and (max-width: 1223px) {
 main {
  .left-right-wrapper-dr {
   max-width: 1420px !important;
  }

  .right-dr {
   width: 60%;
  }

  .left-dr {
   width: 40% !important;
  }
 }
}
