.inline-data {
 float: right;
 width: 100%;
 line-height: 1.5;
 margin-bottom: 10px;
}
.inline-data label.subj {
 display: inline-block;
 min-width: 120px;
 margin-left: 20px;
 font-family: 'IRANSans';
 font-weight: bold;
 vertical-align: baseline;
}
.inline-data .data {
 display: inline-block;
}
.card-header {
 cursor: pointer;
}
